<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>bullet</key>
	<string>bullet.glif</string>
	<key>dagger</key>
	<string>dagger.glif</string>
	<key>daggerdbl</key>
	<string>daggerdbl.glif</string>
	<key>dvA</key>
	<string>dvA_.glif</string>
	<key>dvAA</key>
	<string>dvAA_.glif</string>
	<key>dvAI</key>
	<string>dvAI_.glif</string>
	<key>dvAI_Anusvara</key>
	<string>dvAI__Anusvara_.glif</string>
	<key>dvAI_Candrabindu</key>
	<string>dvAI__Candrabindu_.glif</string>
	<key>dvAU</key>
	<string>dvAU_.glif</string>
	<key>dvAU_Anusvara</key>
	<string>dvAU__Anusvara_.glif</string>
	<key>dvAU_Candrabindu</key>
	<string>dvAU__Candrabindu_.glif</string>
	<key>dvAW</key>
	<string>dvAW_.glif</string>
	<key>dvAcandra</key>
	<string>dvAcandra_.glif</string>
	<key>dvAcandra_Anusvara</key>
	<string>dvAcandra__Anusvara_.glif</string>
	<key>dvAshort</key>
	<string>dvAshort_.glif</string>
	<key>dvAvagraha</key>
	<string>dvAvagraha_.glif</string>
	<key>dvB</key>
	<string>dvB_.glif</string>
	<key>dvBA</key>
	<string>dvBA_.glif</string>
	<key>dvBAbar</key>
	<string>dvBAbar_.glif</string>
	<key>dvBHA</key>
	<string>dvBHA_.glif</string>
	<key>dvBH_LA</key>
	<string>dvBH__LA_.glif</string>
	<key>dvBH_LA.MAR</key>
	<string>dvBH__LA_.MAR_.glif</string>
	<key>dvBH_NA</key>
	<string>dvBH__NA_.glif</string>
	<key>dvBH_NA.aTrad</key>
	<string>dvBH__NA_.aTrad_.glif</string>
	<key>dvBH_RA</key>
	<string>dvBH__RA_.glif</string>
	<key>dvBH_R_YA</key>
	<string>dvBH__R__YA_.glif</string>
	<key>dvBH_VA</key>
	<string>dvBH__VA_.glif</string>
	<key>dvBH_YA</key>
	<string>dvBH__YA_.glif</string>
	<key>dvBHxA</key>
	<string>dvBHxA_.glif</string>
	<key>dvBHx_RA</key>
	<string>dvBHx__RA_.glif</string>
	<key>dvB_BA</key>
	<string>dvB__BA_.glif</string>
	<key>dvB_BHA</key>
	<string>dvB__BHA_.glif</string>
	<key>dvB_BH_RA</key>
	<string>dvB__BH__RA_.glif</string>
	<key>dvB_DA</key>
	<string>dvB__DA_.glif</string>
	<key>dvB_DHA</key>
	<string>dvB__DHA_.glif</string>
	<key>dvB_DH_VA</key>
	<string>dvB__DH__VA_.glif</string>
	<key>dvB_JA</key>
	<string>dvB__JA_.glif</string>
	<key>dvB_JHA</key>
	<string>dvB__JHA_.glif</string>
	<key>dvB_JHA.amU</key>
	<string>dvB__JHA_.amU_.glif</string>
	<key>dvB_J_YA</key>
	<string>dvB__J__YA_.glif</string>
	<key>dvB_JxA</key>
	<string>dvB__JxA_.glif</string>
	<key>dvB_LA</key>
	<string>dvB__LA_.glif</string>
	<key>dvB_LA.MAR</key>
	<string>dvB__LA_.MAR_.glif</string>
	<key>dvB_L_YA</key>
	<string>dvB__L__YA_.glif</string>
	<key>dvB_N.aTrad</key>
	<string>dvB__N_.aTrad_.glif</string>
	<key>dvB_NA</key>
	<string>dvB__NA_.glif</string>
	<key>dvB_NA.aTrad</key>
	<string>dvB__NA_.aTrad_.glif</string>
	<key>dvB_R</key>
	<string>dvB__R_.glif</string>
	<key>dvB_RA</key>
	<string>dvB__RA_.glif</string>
	<key>dvB_SA</key>
	<string>dvB__SA_.glif</string>
	<key>dvB_SHA</key>
	<string>dvB__SHA_.glif</string>
	<key>dvB_SHA.MAR</key>
	<string>dvB__SHA_.MAR_.glif</string>
	<key>dvB_TA</key>
	<string>dvB__TA_.glif</string>
	<key>dvB_VA</key>
	<string>dvB__VA_.glif</string>
	<key>dvB_YA</key>
	<string>dvB__YA_.glif</string>
	<key>dvBx</key>
	<string>dvBx_.glif</string>
	<key>dvBxA</key>
	<string>dvBxA_.glif</string>
	<key>dvBx_R</key>
	<string>dvBx__R_.glif</string>
	<key>dvBx_RA</key>
	<string>dvBx__RA_.glif</string>
	<key>dvCA</key>
	<string>dvCA_.glif</string>
	<key>dvCH</key>
	<string>dvCH_.glif</string>
	<key>dvCHA</key>
	<string>dvCHA_.glif</string>
	<key>dvCH_NA.aTrad</key>
	<string>dvCH__NA_.aTrad_.glif</string>
	<key>dvCH_R</key>
	<string>dvCH__R_.glif</string>
	<key>dvCH_RA</key>
	<string>dvCH__RA_.glif</string>
	<key>dvCH_R_YA</key>
	<string>dvCH__R__YA_.glif</string>
	<key>dvCH_VA</key>
	<string>dvCH__VA_.glif</string>
	<key>dvCH_YA</key>
	<string>dvCH__YA_.glif</string>
	<key>dvCHx</key>
	<string>dvCHx_.glif</string>
	<key>dvCHxA</key>
	<string>dvCHxA_.glif</string>
	<key>dvCHxA.a</key>
	<string>dvCHxA_.a.glif</string>
	<key>dvCHx_R</key>
	<string>dvCHx__R_.glif</string>
	<key>dvCHx_RA</key>
	<string>dvCHx__RA_.glif</string>
	<key>dvC_CA</key>
	<string>dvC__CA_.glif</string>
	<key>dvC_CHA</key>
	<string>dvC__CHA_.glif</string>
	<key>dvC_CH_VA</key>
	<string>dvC__CH__VA_.glif</string>
	<key>dvC_MA</key>
	<string>dvC__MA_.glif</string>
	<key>dvC_NA</key>
	<string>dvC__NA_.glif</string>
	<key>dvC_NA.aTrad</key>
	<string>dvC__NA_.aTrad_.glif</string>
	<key>dvC_RA</key>
	<string>dvC__RA_.glif</string>
	<key>dvC_YA</key>
	<string>dvC__YA_.glif</string>
	<key>dvCxA</key>
	<string>dvCxA_.glif</string>
	<key>dvCx_RA</key>
	<string>dvCx__RA_.glif</string>
	<key>dvD</key>
	<string>dvD_.glif</string>
	<key>dvDA</key>
	<string>dvDA_.glif</string>
	<key>dvDA_mvR</key>
	<string>dvDA__mvR_.glif</string>
	<key>dvDD</key>
	<string>dvDD_.glif</string>
	<key>dvDDA</key>
	<string>dvDDA_.glif</string>
	<key>dvDDAbar</key>
	<string>dvDDAbar_.glif</string>
	<key>dvDDAmarwari</key>
	<string>dvDDAmarwari_.glif</string>
	<key>dvDDH</key>
	<string>dvDDH_.glif</string>
	<key>dvDDHA</key>
	<string>dvDDHA_.glif</string>
	<key>dvDDH_DDHA</key>
	<string>dvDDH__DDHA_.glif</string>
	<key>dvDDH_R</key>
	<string>dvDDH__R_.glif</string>
	<key>dvDDH_RA</key>
	<string>dvDDH__RA_.glif</string>
	<key>dvDDH_VA</key>
	<string>dvDDH__VA_.glif</string>
	<key>dvDDH_YA</key>
	<string>dvDDH__YA_.glif</string>
	<key>dvDDHx</key>
	<string>dvDDHx_.glif</string>
	<key>dvDDHxA</key>
	<string>dvDDHxA_.glif</string>
	<key>dvDDHxA.a</key>
	<string>dvDDHxA_.a.glif</string>
	<key>dvDDHx_R</key>
	<string>dvDDHx__R_.glif</string>
	<key>dvDDHx_RA</key>
	<string>dvDDHx__RA_.glif</string>
	<key>dvDD_DDA</key>
	<string>dvDD__DDA_.glif</string>
	<key>dvDD_DDHA</key>
	<string>dvDD__DDHA_.glif</string>
	<key>dvDD_NA.aTrad</key>
	<string>dvDD__NA_.aTrad_.glif</string>
	<key>dvDD_R</key>
	<string>dvDD__R_.glif</string>
	<key>dvDD_RA</key>
	<string>dvDD__RA_.glif</string>
	<key>dvDD_VA</key>
	<string>dvDD__VA_.glif</string>
	<key>dvDD_YA</key>
	<string>dvDD__YA_.glif</string>
	<key>dvDDx</key>
	<string>dvDDx_.glif</string>
	<key>dvDDxA</key>
	<string>dvDDxA_.glif</string>
	<key>dvDDxA.a</key>
	<string>dvDDxA_.a.glif</string>
	<key>dvDDx_R</key>
	<string>dvDDx__R_.glif</string>
	<key>dvDDx_RA</key>
	<string>dvDDx__RA_.glif</string>
	<key>dvDH_MA</key>
	<string>dvDH__MA_.glif</string>
	<key>dvDH_NA</key>
	<string>dvDH__NA_.glif</string>
	<key>dvDH_N_YA</key>
	<string>dvDH__N__YA_.glif</string>
	<key>dvDH_N_YA.aTrad</key>
	<string>dvDH__N__YA_.aTrad_.glif</string>
	<key>dvDH_VA</key>
	<string>dvDH__VA_.glif</string>
	<key>dvDH_YA</key>
	<string>dvDH__YA_.glif</string>
	<key>dvD_BA</key>
	<string>dvD__BA_.glif</string>
	<key>dvD_BHA</key>
	<string>dvD__BHA_.glif</string>
	<key>dvD_B_RA</key>
	<string>dvD__B__RA_.glif</string>
	<key>dvD_DA</key>
	<string>dvD__DA_.glif</string>
	<key>dvD_DHA</key>
	<string>dvD__DHA_.glif</string>
	<key>dvD_GA</key>
	<string>dvD__GA_.glif</string>
	<key>dvD_GHA</key>
	<string>dvD__GHA_.glif</string>
	<key>dvD_G_RA</key>
	<string>dvD__G__RA_.glif</string>
	<key>dvD_MA</key>
	<string>dvD__MA_.glif</string>
	<key>dvD_NA.aTrad</key>
	<string>dvD__NA_.aTrad_.glif</string>
	<key>dvD_R</key>
	<string>dvD__R_.glif</string>
	<key>dvD_RA</key>
	<string>dvD__RA_.glif</string>
	<key>dvD_VA</key>
	<string>dvD__VA_.glif</string>
	<key>dvD_YA</key>
	<string>dvD__YA_.glif</string>
	<key>dvDx</key>
	<string>dvDx_.glif</string>
	<key>dvDxA</key>
	<string>dvDxA_.glif</string>
	<key>dvDx_R</key>
	<string>dvDx__R_.glif</string>
	<key>dvDx_RA</key>
	<string>dvDx__RA_.glif</string>
	<key>dvE</key>
	<string>dvE_.glif</string>
	<key>dvEcandra</key>
	<string>dvEcandra_.glif</string>
	<key>dvEcandra_Anusvara</key>
	<string>dvEcandra__Anusvara_.glif</string>
	<key>dvEight.aNorth</key>
	<string>dvEight_.aNorth_.glif</string>
	<key>dvEshort</key>
	<string>dvEshort_.glif</string>
	<key>dvEyelash_HA</key>
	<string>dvEyelash__HA_.glif</string>
	<key>dvEyelash_HA_mU</key>
	<string>dvEyelash__HA__mU_.glif</string>
	<key>dvEyelash_HA_mUU</key>
	<string>dvEyelash__HA__mUU_.glif</string>
	<key>dvFive.aNorth</key>
	<string>dvFive_.aNorth_.glif</string>
	<key>dvFour</key>
	<string>dvFour_.glif</string>
	<key>dvGA</key>
	<string>dvGA_.glif</string>
	<key>dvGAbar</key>
	<string>dvGAbar_.glif</string>
	<key>dvGH_MA</key>
	<string>dvGH__MA_.glif</string>
	<key>dvGH_NA</key>
	<string>dvGH__NA_.glif</string>
	<key>dvGH_YA</key>
	<string>dvGH__YA_.glif</string>
	<key>dvG_BA</key>
	<string>dvG__BA_.glif</string>
	<key>dvG_BHA</key>
	<string>dvG__BHA_.glif</string>
	<key>dvG_BH_YA</key>
	<string>dvG__BH__YA_.glif</string>
	<key>dvG_DA</key>
	<string>dvG__DA_.glif</string>
	<key>dvG_DHA</key>
	<string>dvG__DHA_.glif</string>
	<key>dvG_DH_VA</key>
	<string>dvG__DH__VA_.glif</string>
	<key>dvG_DH_YA</key>
	<string>dvG__DH__YA_.glif</string>
	<key>dvG_GA</key>
	<string>dvG__GA_.glif</string>
	<key>dvG_GHA</key>
	<string>dvG__GHA_.glif</string>
	<key>dvG_JA</key>
	<string>dvG__JA_.glif</string>
	<key>dvG_LA</key>
	<string>dvG__LA_.glif</string>
	<key>dvG_LA.MAR</key>
	<string>dvG__LA_.MAR_.glif</string>
	<key>dvG_MA</key>
	<string>dvG__MA_.glif</string>
	<key>dvG_N.aTrad</key>
	<string>dvG__N_.aTrad_.glif</string>
	<key>dvG_NA</key>
	<string>dvG__NA_.glif</string>
	<key>dvG_NA.aTrad</key>
	<string>dvG__NA_.aTrad_.glif</string>
	<key>dvG_NNA</key>
	<string>dvG__NNA_.glif</string>
	<key>dvG_N_YA</key>
	<string>dvG__N__YA_.glif</string>
	<key>dvG_N_YA.aTrad</key>
	<string>dvG__N__YA_.aTrad_.glif</string>
	<key>dvG_R</key>
	<string>dvG__R_.glif</string>
	<key>dvG_RA</key>
	<string>dvG__RA_.glif</string>
	<key>dvG_R_YA</key>
	<string>dvG__R__YA_.glif</string>
	<key>dvG_SA</key>
	<string>dvG__SA_.glif</string>
	<key>dvG_VA</key>
	<string>dvG__VA_.glif</string>
	<key>dvG_YA</key>
	<string>dvG__YA_.glif</string>
	<key>dvGxA</key>
	<string>dvGxA_.glif</string>
	<key>dvGx_NA</key>
	<string>dvGx__NA_.glif</string>
	<key>dvGx_R</key>
	<string>dvGx__R_.glif</string>
	<key>dvGx_RA</key>
	<string>dvGx__RA_.glif</string>
	<key>dvH</key>
	<string>dvH_.glif</string>
	<key>dvH.aTrad</key>
	<string>dvH_.aTrad_.glif</string>
	<key>dvHA</key>
	<string>dvHA_.glif</string>
	<key>dvHA_Virama</key>
	<string>dvHA__Virama_.glif</string>
	<key>dvHA_mU</key>
	<string>dvHA__mU_.glif</string>
	<key>dvHA_mUU</key>
	<string>dvHA__mUU_.glif</string>
	<key>dvHA_mvR</key>
	<string>dvHA__mvR_.glif</string>
	<key>dvH_LA</key>
	<string>dvH__LA_.glif</string>
	<key>dvH_LA.MAR</key>
	<string>dvH__LA_.MAR_.glif</string>
	<key>dvH_MA</key>
	<string>dvH__MA_.glif</string>
	<key>dvH_NA</key>
	<string>dvH__NA_.glif</string>
	<key>dvH_NNA</key>
	<string>dvH__NNA_.glif</string>
	<key>dvH_R</key>
	<string>dvH__R_.glif</string>
	<key>dvH_RA</key>
	<string>dvH__RA_.glif</string>
	<key>dvH_VA</key>
	<string>dvH__VA_.glif</string>
	<key>dvH_YA</key>
	<string>dvH__YA_.glif</string>
	<key>dvHx</key>
	<string>dvHx_.glif</string>
	<key>dvHxA</key>
	<string>dvHxA_.glif</string>
	<key>dvHx_R</key>
	<string>dvHx__R_.glif</string>
	<key>dvHx_RA</key>
	<string>dvHx__RA_.glif</string>
	<key>dvI</key>
	<string>dvI_.glif</string>
	<key>dvII</key>
	<string>dvII_.glif</string>
	<key>dvII_Anusvara</key>
	<string>dvII__Anusvara_.glif</string>
	<key>dvII_Candrabindu</key>
	<string>dvII__Candrabindu_.glif</string>
	<key>dvJA</key>
	<string>dvJA_.glif</string>
	<key>dvJAbar</key>
	<string>dvJAbar_.glif</string>
	<key>dvJH</key>
	<string>dvJH_.glif</string>
	<key>dvJHA</key>
	<string>dvJHA_.glif</string>
	<key>dvJHA.amU</key>
	<string>dvJHA_.amU_.glif</string>
	<key>dvJH_MA</key>
	<string>dvJH__MA_.glif</string>
	<key>dvJH_N.aTrad</key>
	<string>dvJH__N_.aTrad_.glif</string>
	<key>dvJH_NA</key>
	<string>dvJH__NA_.glif</string>
	<key>dvJH_NA.aTrad</key>
	<string>dvJH__NA_.aTrad_.glif</string>
	<key>dvJH_R</key>
	<string>dvJH__R_.glif</string>
	<key>dvJH_RA</key>
	<string>dvJH__RA_.glif</string>
	<key>dvJH_YA</key>
	<string>dvJH__YA_.glif</string>
	<key>dvJHx</key>
	<string>dvJHx_.glif</string>
	<key>dvJHxA</key>
	<string>dvJHxA_.glif</string>
	<key>dvJHxA.amU</key>
	<string>dvJHxA_.amU_.glif</string>
	<key>dvJHx_R</key>
	<string>dvJHx__R_.glif</string>
	<key>dvJHx_RA</key>
	<string>dvJHx__RA_.glif</string>
	<key>dvJ_BA</key>
	<string>dvJ__BA_.glif</string>
	<key>dvJ_DA</key>
	<string>dvJ__DA_.glif</string>
	<key>dvJ_DDA</key>
	<string>dvJ__DDA_.glif</string>
	<key>dvJ_JA</key>
	<string>dvJ__JA_.glif</string>
	<key>dvJ_JHA</key>
	<string>dvJ__JHA_.glif</string>
	<key>dvJ_JHA.amU</key>
	<string>dvJ__JHA_.amU_.glif</string>
	<key>dvJ_J_NYA</key>
	<string>dvJ__J__NYA_.glif</string>
	<key>dvJ_J_NYA.amU</key>
	<string>dvJ__J__NYA_.amU_.glif</string>
	<key>dvJ_J_VA</key>
	<string>dvJ__J__VA_.glif</string>
	<key>dvJ_KA</key>
	<string>dvJ__KA_.glif</string>
	<key>dvJ_MA</key>
	<string>dvJ__MA_.glif</string>
	<key>dvJ_NA</key>
	<string>dvJ__NA_.glif</string>
	<key>dvJ_NA.aTrad</key>
	<string>dvJ__NA_.aTrad_.glif</string>
	<key>dvJ_NYA</key>
	<string>dvJ__NYA_.glif</string>
	<key>dvJ_NYA.amU</key>
	<string>dvJ__NYA_.amU_.glif</string>
	<key>dvJ_NY_YA</key>
	<string>dvJ__NY__YA_.glif</string>
	<key>dvJ_TA</key>
	<string>dvJ__TA_.glif</string>
	<key>dvJ_TTA</key>
	<string>dvJ__TTA_.glif</string>
	<key>dvJ_VA</key>
	<string>dvJ__VA_.glif</string>
	<key>dvJ_YA</key>
	<string>dvJ__YA_.glif</string>
	<key>dvJxA</key>
	<string>dvJxA_.glif</string>
	<key>dvJx_JxA</key>
	<string>dvJx__JxA_.glif</string>
	<key>dvJx_NA</key>
	<string>dvJx__NA_.glif</string>
	<key>dvJx_YA</key>
	<string>dvJx__YA_.glif</string>
	<key>dvK</key>
	<string>dvK_.glif</string>
	<key>dvKA</key>
	<string>dvKA_.glif</string>
	<key>dvKH_KHA</key>
	<string>dvKH__KHA_.glif</string>
	<key>dvKH_MA</key>
	<string>dvKH__MA_.glif</string>
	<key>dvKH_NA</key>
	<string>dvKH__NA_.glif</string>
	<key>dvKH_NA.aTrad</key>
	<string>dvKH__NA_.aTrad_.glif</string>
	<key>dvKH_RA</key>
	<string>dvKH__RA_.glif</string>
	<key>dvKH_SHA</key>
	<string>dvKH__SHA_.glif</string>
	<key>dvKH_SHA.MAR</key>
	<string>dvKH__SHA_.MAR_.glif</string>
	<key>dvKH_VA</key>
	<string>dvKH__VA_.glif</string>
	<key>dvKH_YA</key>
	<string>dvKH__YA_.glif</string>
	<key>dvKHx_MA</key>
	<string>dvKHx__MA_.glif</string>
	<key>dvKHx_NA</key>
	<string>dvKHx__NA_.glif</string>
	<key>dvKHx_RA</key>
	<string>dvKHx__RA_.glif</string>
	<key>dvKHx_SA</key>
	<string>dvKHx__SA_.glif</string>
	<key>dvKHx_SHA</key>
	<string>dvKHx__SHA_.glif</string>
	<key>dvKHx_SHA.MAR</key>
	<string>dvKHx__SHA_.MAR_.glif</string>
	<key>dvKHx_VA</key>
	<string>dvKHx__VA_.glif</string>
	<key>dvKHx_YA</key>
	<string>dvKHx__YA_.glif</string>
	<key>dvK_BA</key>
	<string>dvK__BA_.glif</string>
	<key>dvK_CA</key>
	<string>dvK__CA_.glif</string>
	<key>dvK_DA</key>
	<string>dvK__DA_.glif</string>
	<key>dvK_JA</key>
	<string>dvK__JA_.glif</string>
	<key>dvK_KA</key>
	<string>dvK__KA_.glif</string>
	<key>dvK_KHA</key>
	<string>dvK__KHA_.glif</string>
	<key>dvK_LA</key>
	<string>dvK__LA_.glif</string>
	<key>dvK_LA.MAR</key>
	<string>dvK__LA_.MAR_.glif</string>
	<key>dvK_MA</key>
	<string>dvK__MA_.glif</string>
	<key>dvK_N.aTrad</key>
	<string>dvK__N_.aTrad_.glif</string>
	<key>dvK_NA</key>
	<string>dvK__NA_.glif</string>
	<key>dvK_NA.aTrad</key>
	<string>dvK__NA_.aTrad_.glif</string>
	<key>dvK_NNA</key>
	<string>dvK__NNA_.glif</string>
	<key>dvK_PA</key>
	<string>dvK__PA_.glif</string>
	<key>dvK_PHA</key>
	<string>dvK__PHA_.glif</string>
	<key>dvK_P_RA</key>
	<string>dvK__P__RA_.glif</string>
	<key>dvK_R</key>
	<string>dvK__R_.glif</string>
	<key>dvK_RA</key>
	<string>dvK__RA_.glif</string>
	<key>dvK_SA</key>
	<string>dvK__SA_.glif</string>
	<key>dvK_SHA</key>
	<string>dvK__SHA_.glif</string>
	<key>dvK_SHA.MAR</key>
	<string>dvK__SHA_.MAR_.glif</string>
	<key>dvK_SS</key>
	<string>dvK__SS_.glif</string>
	<key>dvK_SSA</key>
	<string>dvK__SSA_.glif</string>
	<key>dvK_SSA.amU</key>
	<string>dvK__SSA_.amU_.glif</string>
	<key>dvK_SS_MA</key>
	<string>dvK__SS__MA_.glif</string>
	<key>dvK_SS_M_YA</key>
	<string>dvK__SS__M__YA_.glif</string>
	<key>dvK_SS_VA</key>
	<string>dvK__SS__VA_.glif</string>
	<key>dvK_SS_YA</key>
	<string>dvK__SS__YA_.glif</string>
	<key>dvK_S_DDA</key>
	<string>dvK__S__DDA_.glif</string>
	<key>dvK_S_P_LA</key>
	<string>dvK__S__P__LA_.glif</string>
	<key>dvK_S_P_LA.MAR</key>
	<string>dvK__S__P__LA_.MAR_.glif</string>
	<key>dvK_S_P_RA</key>
	<string>dvK__S__P__RA_.glif</string>
	<key>dvK_S_TA</key>
	<string>dvK__S__TA_.glif</string>
	<key>dvK_S_TTA</key>
	<string>dvK__S__TTA_.glif</string>
	<key>dvK_TA</key>
	<string>dvK__TA_.glif</string>
	<key>dvK_TA.aTrad</key>
	<string>dvK__TA_.aTrad_.glif</string>
	<key>dvK_THA</key>
	<string>dvK__THA_.glif</string>
	<key>dvK_TTA</key>
	<string>dvK__TTA_.glif</string>
	<key>dvK_TT_RA</key>
	<string>dvK__TT__RA_.glif</string>
	<key>dvK_T_RA</key>
	<string>dvK__T__RA_.glif</string>
	<key>dvK_T_VA</key>
	<string>dvK__T__VA_.glif</string>
	<key>dvK_T_YA</key>
	<string>dvK__T__YA_.glif</string>
	<key>dvK_VA</key>
	<string>dvK__VA_.glif</string>
	<key>dvK_V_YA</key>
	<string>dvK__V__YA_.glif</string>
	<key>dvK_YA</key>
	<string>dvK__YA_.glif</string>
	<key>dvKx</key>
	<string>dvKx_.glif</string>
	<key>dvKxA</key>
	<string>dvKxA_.glif</string>
	<key>dvKx_BA</key>
	<string>dvKx__BA_.glif</string>
	<key>dvKx_KxA</key>
	<string>dvKx__KxA_.glif</string>
	<key>dvKx_MA</key>
	<string>dvKx__MA_.glif</string>
	<key>dvKx_NA</key>
	<string>dvKx__NA_.glif</string>
	<key>dvKx_PHA</key>
	<string>dvKx__PHA_.glif</string>
	<key>dvKx_PHxA</key>
	<string>dvKx__PHxA_.glif</string>
	<key>dvKx_R</key>
	<string>dvKx__R_.glif</string>
	<key>dvKx_RA</key>
	<string>dvKx__RA_.glif</string>
	<key>dvKx_SHA</key>
	<string>dvKx__SHA_.glif</string>
	<key>dvKx_SHA.MAR</key>
	<string>dvKx__SHA_.MAR_.glif</string>
	<key>dvKx_TA</key>
	<string>dvKx__TA_.glif</string>
	<key>dvLA</key>
	<string>dvLA_.glif</string>
	<key>dvLA.MAR</key>
	<string>dvLA_.MAR_.glif</string>
	<key>dvLL</key>
	<string>dvLL_.glif</string>
	<key>dvLLA</key>
	<string>dvLLA_.glif</string>
	<key>dvLL_R</key>
	<string>dvLL__R_.glif</string>
	<key>dvLL_RA</key>
	<string>dvLL__RA_.glif</string>
	<key>dvLL_YA</key>
	<string>dvLL__YA_.glif</string>
	<key>dvLLx</key>
	<string>dvLLx_.glif</string>
	<key>dvLLxA</key>
	<string>dvLLxA_.glif</string>
	<key>dvLLxA.a</key>
	<string>dvLLxA_.a.glif</string>
	<key>dvLLx_R</key>
	<string>dvLLx__R_.glif</string>
	<key>dvLLx_RA</key>
	<string>dvLLx__RA_.glif</string>
	<key>dvL_BA</key>
	<string>dvL__BA_.glif</string>
	<key>dvL_BHA</key>
	<string>dvL__BHA_.glif</string>
	<key>dvL_CA</key>
	<string>dvL__CA_.glif</string>
	<key>dvL_DA</key>
	<string>dvL__DA_.glif</string>
	<key>dvL_DDA</key>
	<string>dvL__DDA_.glif</string>
	<key>dvL_DDHA</key>
	<string>dvL__DDHA_.glif</string>
	<key>dvL_D_RA</key>
	<string>dvL__D__RA_.glif</string>
	<key>dvL_HA</key>
	<string>dvL__HA_.glif</string>
	<key>dvL_HA_mU</key>
	<string>dvL__HA__mU_.glif</string>
	<key>dvL_HA_mUU</key>
	<string>dvL__HA__mUU_.glif</string>
	<key>dvL_JA</key>
	<string>dvL__JA_.glif</string>
	<key>dvL_JxA</key>
	<string>dvL__JxA_.glif</string>
	<key>dvL_KA</key>
	<string>dvL__KA_.glif</string>
	<key>dvL_KHA</key>
	<string>dvL__KHA_.glif</string>
	<key>dvL_K_YA</key>
	<string>dvL__K__YA_.glif</string>
	<key>dvL_LA</key>
	<string>dvL__LA_.glif</string>
	<key>dvL_LA.MAR</key>
	<string>dvL__LA_.MAR_.glif</string>
	<key>dvL_L_YA</key>
	<string>dvL__L__YA_.glif</string>
	<key>dvL_MA</key>
	<string>dvL__MA_.glif</string>
	<key>dvL_NA</key>
	<string>dvL__NA_.glif</string>
	<key>dvL_PA</key>
	<string>dvL__PA_.glif</string>
	<key>dvL_PHA</key>
	<string>dvL__PHA_.glif</string>
	<key>dvL_R</key>
	<string>dvL__R_.glif</string>
	<key>dvL_RA</key>
	<string>dvL__RA_.glif</string>
	<key>dvL_SA</key>
	<string>dvL__SA_.glif</string>
	<key>dvL_TA</key>
	<string>dvL__TA_.glif</string>
	<key>dvL_THA</key>
	<string>dvL__THA_.glif</string>
	<key>dvL_TH_YA</key>
	<string>dvL__TH__YA_.glif</string>
	<key>dvL_TTA</key>
	<string>dvL__TTA_.glif</string>
	<key>dvL_TTHA</key>
	<string>dvL__TTHA_.glif</string>
	<key>dvL_VA</key>
	<string>dvL__VA_.glif</string>
	<key>dvL_V_DDA</key>
	<string>dvL__V__DDA_.glif</string>
	<key>dvL_YA</key>
	<string>dvL__YA_.glif</string>
	<key>dvLxA</key>
	<string>dvLxA_.glif</string>
	<key>dvLxA.MAR</key>
	<string>dvLxA_.MAR_.glif</string>
	<key>dvLx_R</key>
	<string>dvLx__R_.glif</string>
	<key>dvLx_RA</key>
	<string>dvLx__RA_.glif</string>
	<key>dvM</key>
	<string>dvM_.glif</string>
	<key>dvMA</key>
	<string>dvMA_.glif</string>
	<key>dvM_BA</key>
	<string>dvM__BA_.glif</string>
	<key>dvM_BHA</key>
	<string>dvM__BHA_.glif</string>
	<key>dvM_BH_RA</key>
	<string>dvM__BH__RA_.glif</string>
	<key>dvM_BH_VA</key>
	<string>dvM__BH__VA_.glif</string>
	<key>dvM_BH_YA</key>
	<string>dvM__BH__YA_.glif</string>
	<key>dvM_B_RA</key>
	<string>dvM__B__RA_.glif</string>
	<key>dvM_B_YA</key>
	<string>dvM__B__YA_.glif</string>
	<key>dvM_DA</key>
	<string>dvM__DA_.glif</string>
	<key>dvM_HA</key>
	<string>dvM__HA_.glif</string>
	<key>dvM_HA_mU</key>
	<string>dvM__HA__mU_.glif</string>
	<key>dvM_HA_mUU</key>
	<string>dvM__HA__mUU_.glif</string>
	<key>dvM_LA</key>
	<string>dvM__LA_.glif</string>
	<key>dvM_LA.MAR</key>
	<string>dvM__LA_.MAR_.glif</string>
	<key>dvM_MA</key>
	<string>dvM__MA_.glif</string>
	<key>dvM_N.aTrad</key>
	<string>dvM__N_.aTrad_.glif</string>
	<key>dvM_NA</key>
	<string>dvM__NA_.glif</string>
	<key>dvM_NA.aTrad</key>
	<string>dvM__NA_.aTrad_.glif</string>
	<key>dvM_PA</key>
	<string>dvM__PA_.glif</string>
	<key>dvM_P_RA</key>
	<string>dvM__P__RA_.glif</string>
	<key>dvM_R</key>
	<string>dvM__R_.glif</string>
	<key>dvM_RA</key>
	<string>dvM__RA_.glif</string>
	<key>dvM_SA</key>
	<string>dvM__SA_.glif</string>
	<key>dvM_SHA</key>
	<string>dvM__SHA_.glif</string>
	<key>dvM_SHA.MAR</key>
	<string>dvM__SHA_.MAR_.glif</string>
	<key>dvM_TA</key>
	<string>dvM__TA_.glif</string>
	<key>dvM_VA</key>
	<string>dvM__VA_.glif</string>
	<key>dvM_YA</key>
	<string>dvM__YA_.glif</string>
	<key>dvMx</key>
	<string>dvMx_.glif</string>
	<key>dvMxA</key>
	<string>dvMxA_.glif</string>
	<key>dvMx_R</key>
	<string>dvMx__R_.glif</string>
	<key>dvMx_RA</key>
	<string>dvMx__RA_.glif</string>
	<key>dvNA</key>
	<string>dvNA_.glif</string>
	<key>dvNG</key>
	<string>dvNG_.glif</string>
	<key>dvNGA</key>
	<string>dvNGA_.glif</string>
	<key>dvNG_GA</key>
	<string>dvNG__GA_.glif</string>
	<key>dvNG_GHA</key>
	<string>dvNG__GHA_.glif</string>
	<key>dvNG_KA</key>
	<string>dvNG__KA_.glif</string>
	<key>dvNG_KHA</key>
	<string>dvNG__KHA_.glif</string>
	<key>dvNG_MA</key>
	<string>dvNG__MA_.glif</string>
	<key>dvNG_NA</key>
	<string>dvNG__NA_.glif</string>
	<key>dvNG_NGA</key>
	<string>dvNG__NGA_.glif</string>
	<key>dvNG_R</key>
	<string>dvNG__R_.glif</string>
	<key>dvNG_RA</key>
	<string>dvNG__RA_.glif</string>
	<key>dvNG_VA</key>
	<string>dvNG__VA_.glif</string>
	<key>dvNG_YA</key>
	<string>dvNG__YA_.glif</string>
	<key>dvNGx</key>
	<string>dvNGx_.glif</string>
	<key>dvNGxA</key>
	<string>dvNGxA_.glif</string>
	<key>dvNGxA.a</key>
	<string>dvNGxA_.a.glif</string>
	<key>dvNGx_R</key>
	<string>dvNGx__R_.glif</string>
	<key>dvNGx_RA</key>
	<string>dvNGx__RA_.glif</string>
	<key>dvNN</key>
	<string>dvNN_.glif</string>
	<key>dvNNA</key>
	<string>dvNNA_.glif</string>
	<key>dvNN_DDA</key>
	<string>dvNN__DDA_.glif</string>
	<key>dvNN_DDHA</key>
	<string>dvNN__DDHA_.glif</string>
	<key>dvNN_MA</key>
	<string>dvNN__MA_.glif</string>
	<key>dvNN_NNA</key>
	<string>dvNN__NNA_.glif</string>
	<key>dvNN_R</key>
	<string>dvNN__R_.glif</string>
	<key>dvNN_RA</key>
	<string>dvNN__RA_.glif</string>
	<key>dvNN_TTA</key>
	<string>dvNN__TTA_.glif</string>
	<key>dvNN_TTHA</key>
	<string>dvNN__TTHA_.glif</string>
	<key>dvNN_VA</key>
	<string>dvNN__VA_.glif</string>
	<key>dvNN_YA</key>
	<string>dvNN__YA_.glif</string>
	<key>dvNNx</key>
	<string>dvNNx_.glif</string>
	<key>dvNNxA</key>
	<string>dvNNxA_.glif</string>
	<key>dvNNx_R</key>
	<string>dvNNx__R_.glif</string>
	<key>dvNNx_RA</key>
	<string>dvNNx__RA_.glif</string>
	<key>dvNY</key>
	<string>dvNY_.glif</string>
	<key>dvNYA</key>
	<string>dvNYA_.glif</string>
	<key>dvNY_CA</key>
	<string>dvNY__CA_.glif</string>
	<key>dvNY_CA.aSimp</key>
	<string>dvNY__CA_.aSimp_.glif</string>
	<key>dvNY_CHA</key>
	<string>dvNY__CHA_.glif</string>
	<key>dvNY_JA</key>
	<string>dvNY__JA_.glif</string>
	<key>dvNY_JA.aSimp</key>
	<string>dvNY__JA_.aSimp_.glif</string>
	<key>dvNY_NYA</key>
	<string>dvNY__NYA_.glif</string>
	<key>dvNY_NYA.aSimp</key>
	<string>dvNY__NYA_.aSimp_.glif</string>
	<key>dvNY_R</key>
	<string>dvNY__R_.glif</string>
	<key>dvNY_RA</key>
	<string>dvNY__RA_.glif</string>
	<key>dvNY_SHA</key>
	<string>dvNY__SHA_.glif</string>
	<key>dvNY_SHA.MAR</key>
	<string>dvNY__SHA_.MAR_.glif</string>
	<key>dvNYx</key>
	<string>dvNYx_.glif</string>
	<key>dvNYxA</key>
	<string>dvNYxA_.glif</string>
	<key>dvNYx_R</key>
	<string>dvNYx__R_.glif</string>
	<key>dvNYx_RA</key>
	<string>dvNYx__RA_.glif</string>
	<key>dvN_BHA</key>
	<string>dvN__BHA_.glif</string>
	<key>dvN_BH_VA</key>
	<string>dvN__BH__VA_.glif</string>
	<key>dvN_BH_YA</key>
	<string>dvN__BH__YA_.glif</string>
	<key>dvN_CA</key>
	<string>dvN__CA_.glif</string>
	<key>dvN_CHA</key>
	<string>dvN__CHA_.glif</string>
	<key>dvN_DA</key>
	<string>dvN__DA_.glif</string>
	<key>dvN_DDA</key>
	<string>dvN__DDA_.glif</string>
	<key>dvN_DHA</key>
	<string>dvN__DHA_.glif</string>
	<key>dvN_DH_RA</key>
	<string>dvN__DH__RA_.glif</string>
	<key>dvN_DH_VA</key>
	<string>dvN__DH__VA_.glif</string>
	<key>dvN_DH_YA</key>
	<string>dvN__DH__YA_.glif</string>
	<key>dvN_D_RA</key>
	<string>dvN__D__RA_.glif</string>
	<key>dvN_D_VA</key>
	<string>dvN__D__VA_.glif</string>
	<key>dvN_HA</key>
	<string>dvN__HA_.glif</string>
	<key>dvN_HA_mU</key>
	<string>dvN__HA__mU_.glif</string>
	<key>dvN_HA_mUU</key>
	<string>dvN__HA__mUU_.glif</string>
	<key>dvN_KA</key>
	<string>dvN__KA_.glif</string>
	<key>dvN_K_SA</key>
	<string>dvN__K__SA_.glif</string>
	<key>dvN_MA</key>
	<string>dvN__MA_.glif</string>
	<key>dvN_M_YA</key>
	<string>dvN__M__YA_.glif</string>
	<key>dvN_NA</key>
	<string>dvN__NA_.glif</string>
	<key>dvN_NA.aTrad</key>
	<string>dvN__NA_.aTrad_.glif</string>
	<key>dvN_N_YA</key>
	<string>dvN__N__YA_.glif</string>
	<key>dvN_PA</key>
	<string>dvN__PA_.glif</string>
	<key>dvN_PHA</key>
	<string>dvN__PHA_.glif</string>
	<key>dvN_PH_RA</key>
	<string>dvN__PH__RA_.glif</string>
	<key>dvN_P_RA</key>
	<string>dvN__P__RA_.glif</string>
	<key>dvN_SA</key>
	<string>dvN__SA_.glif</string>
	<key>dvN_SHA</key>
	<string>dvN__SHA_.glif</string>
	<key>dvN_SHA.MAR</key>
	<string>dvN__SHA_.MAR_.glif</string>
	<key>dvN_S_M_YA</key>
	<string>dvN__S__M__YA_.glif</string>
	<key>dvN_S_TTA</key>
	<string>dvN__S__TTA_.glif</string>
	<key>dvN_S_YA</key>
	<string>dvN__S__YA_.glif</string>
	<key>dvN_TA</key>
	<string>dvN__TA_.glif</string>
	<key>dvN_THA</key>
	<string>dvN__THA_.glif</string>
	<key>dvN_TH_VA</key>
	<string>dvN__TH__VA_.glif</string>
	<key>dvN_TH_YA</key>
	<string>dvN__TH__YA_.glif</string>
	<key>dvN_TTA</key>
	<string>dvN__TTA_.glif</string>
	<key>dvN_T_RA</key>
	<string>dvN__T__RA_.glif</string>
	<key>dvN_T_SA</key>
	<string>dvN__T__SA_.glif</string>
	<key>dvN_T_YA</key>
	<string>dvN__T__YA_.glif</string>
	<key>dvN_VA</key>
	<string>dvN__VA_.glif</string>
	<key>dvN_YA</key>
	<string>dvN__YA_.glif</string>
	<key>dvNine</key>
	<string>dvNine_.glif</string>
	<key>dvNine.aNorth</key>
	<string>dvNine_.aNorth_.glif</string>
	<key>dvNxA</key>
	<string>dvNxA_.glif</string>
	<key>dvO</key>
	<string>dvO_.glif</string>
	<key>dvOE</key>
	<string>dvOE_.glif</string>
	<key>dvOOE</key>
	<string>dvOOE_.glif</string>
	<key>dvO_Anusvara</key>
	<string>dvO__Anusvara_.glif</string>
	<key>dvO_Candrabindu</key>
	<string>dvO__Candrabindu_.glif</string>
	<key>dvOcandra</key>
	<string>dvOcandra_.glif</string>
	<key>dvOcandra_Anusvara</key>
	<string>dvOcandra__Anusvara_.glif</string>
	<key>dvOne</key>
	<string>dvOne_.glif</string>
	<key>dvOne.aNorth</key>
	<string>dvOne_.aNorth_.glif</string>
	<key>dvOshort</key>
	<string>dvOshort_.glif</string>
	<key>dvP</key>
	<string>dvP_.glif</string>
	<key>dvPA</key>
	<string>dvPA_.glif</string>
	<key>dvPH</key>
	<string>dvPH_.glif</string>
	<key>dvPHA</key>
	<string>dvPHA_.glif</string>
	<key>dvPH_JA</key>
	<string>dvPH__JA_.glif</string>
	<key>dvPH_LA</key>
	<string>dvPH__LA_.glif</string>
	<key>dvPH_LA.MAR</key>
	<string>dvPH__LA_.MAR_.glif</string>
	<key>dvPH_N.aTrad</key>
	<string>dvPH__N_.aTrad_.glif</string>
	<key>dvPH_NA</key>
	<string>dvPH__NA_.glif</string>
	<key>dvPH_NA.aTrad</key>
	<string>dvPH__NA_.aTrad_.glif</string>
	<key>dvPH_PA</key>
	<string>dvPH__PA_.glif</string>
	<key>dvPH_PHA</key>
	<string>dvPH__PHA_.glif</string>
	<key>dvPH_R</key>
	<string>dvPH__R_.glif</string>
	<key>dvPH_RA</key>
	<string>dvPH__RA_.glif</string>
	<key>dvPH_SHA</key>
	<string>dvPH__SHA_.glif</string>
	<key>dvPH_SHA.MAR</key>
	<string>dvPH__SHA_.MAR_.glif</string>
	<key>dvPH_TA</key>
	<string>dvPH__TA_.glif</string>
	<key>dvPH_TTA</key>
	<string>dvPH__TTA_.glif</string>
	<key>dvPH_YA</key>
	<string>dvPH__YA_.glif</string>
	<key>dvPHx</key>
	<string>dvPHx_.glif</string>
	<key>dvPHxA</key>
	<string>dvPHxA_.glif</string>
	<key>dvPHx_JxA</key>
	<string>dvPHx__JxA_.glif</string>
	<key>dvPHx_NA</key>
	<string>dvPHx__NA_.glif</string>
	<key>dvPHx_PHxA</key>
	<string>dvPHx__PHxA_.glif</string>
	<key>dvPHx_R</key>
	<string>dvPHx__R_.glif</string>
	<key>dvPHx_RA</key>
	<string>dvPHx__RA_.glif</string>
	<key>dvPHx_SA</key>
	<string>dvPHx__SA_.glif</string>
	<key>dvPHx_TA</key>
	<string>dvPHx__TA_.glif</string>
	<key>dvPHx_TTA</key>
	<string>dvPHx__TTA_.glif</string>
	<key>dvP_CA</key>
	<string>dvP__CA_.glif</string>
	<key>dvP_LA</key>
	<string>dvP__LA_.glif</string>
	<key>dvP_LA.MAR</key>
	<string>dvP__LA_.MAR_.glif</string>
	<key>dvP_MA</key>
	<string>dvP__MA_.glif</string>
	<key>dvP_N.aTrad</key>
	<string>dvP__N_.aTrad_.glif</string>
	<key>dvP_NA</key>
	<string>dvP__NA_.glif</string>
	<key>dvP_NA.aTrad</key>
	<string>dvP__NA_.aTrad_.glif</string>
	<key>dvP_PA</key>
	<string>dvP__PA_.glif</string>
	<key>dvP_PHA</key>
	<string>dvP__PHA_.glif</string>
	<key>dvP_R</key>
	<string>dvP__R_.glif</string>
	<key>dvP_RA</key>
	<string>dvP__RA_.glif</string>
	<key>dvP_SA</key>
	<string>dvP__SA_.glif</string>
	<key>dvP_SHA</key>
	<string>dvP__SHA_.glif</string>
	<key>dvP_SHA.MAR</key>
	<string>dvP__SHA_.MAR_.glif</string>
	<key>dvP_TA</key>
	<string>dvP__TA_.glif</string>
	<key>dvP_TA.aTrad</key>
	<string>dvP__TA_.aTrad_.glif</string>
	<key>dvP_TTA</key>
	<string>dvP__TTA_.glif</string>
	<key>dvP_TTA.aTrad</key>
	<string>dvP__TTA_.aTrad_.glif</string>
	<key>dvP_TTHA</key>
	<string>dvP__TTHA_.glif</string>
	<key>dvP_TTHA.aTrad</key>
	<string>dvP__TTHA_.aTrad_.glif</string>
	<key>dvP_T_YA</key>
	<string>dvP__T__YA_.glif</string>
	<key>dvP_VA</key>
	<string>dvP__VA_.glif</string>
	<key>dvP_YA</key>
	<string>dvP__YA_.glif</string>
	<key>dvPx</key>
	<string>dvPx_.glif</string>
	<key>dvPxA</key>
	<string>dvPxA_.glif</string>
	<key>dvPx_R</key>
	<string>dvPx__R_.glif</string>
	<key>dvPx_RA</key>
	<string>dvPx__RA_.glif</string>
	<key>dvR</key>
	<string>dvR_.glif</string>
	<key>dvRA</key>
	<string>dvRA_.glif</string>
	<key>dvRA_mU</key>
	<string>dvRA__mU_.glif</string>
	<key>dvRA_mUU</key>
	<string>dvRA__mUU_.glif</string>
	<key>dvRx</key>
	<string>dvRx_.glif</string>
	<key>dvRxA</key>
	<string>dvRxA_.glif</string>
	<key>dvS</key>
	<string>dvS_.glif</string>
	<key>dvSA</key>
	<string>dvSA_.glif</string>
	<key>dvSH</key>
	<string>dvSH_.glif</string>
	<key>dvSH.MAR</key>
	<string>dvSH_.MAR_.glif</string>
	<key>dvSHA</key>
	<string>dvSHA_.glif</string>
	<key>dvSHA.MAR</key>
	<string>dvSHA_.MAR_.glif</string>
	<key>dvSHA.amvR</key>
	<string>dvSHA_.amvR_.glif</string>
	<key>dvSH_CA</key>
	<string>dvSH__CA_.glif</string>
	<key>dvSH_CA.MAR</key>
	<string>dvSH__CA_.MAR_.glif</string>
	<key>dvSH_CA.aSimp</key>
	<string>dvSH__CA_.aSimp_.glif</string>
	<key>dvSH_CA.aSimp.MAR</key>
	<string>dvSH__CA_.aSimp_.MAR_.glif</string>
	<key>dvSH_CHA</key>
	<string>dvSH__CHA_.glif</string>
	<key>dvSH_CHA.MAR</key>
	<string>dvSH__CHA_.MAR_.glif</string>
	<key>dvSH_KA</key>
	<string>dvSH__KA_.glif</string>
	<key>dvSH_KA.MAR</key>
	<string>dvSH__KA_.MAR_.glif</string>
	<key>dvSH_KxA</key>
	<string>dvSH__KxA_.glif</string>
	<key>dvSH_KxA.MAR</key>
	<string>dvSH__KxA_.MAR_.glif</string>
	<key>dvSH_LA</key>
	<string>dvSH__LA_.glif</string>
	<key>dvSH_LA.MAR</key>
	<string>dvSH__LA_.MAR_.glif</string>
	<key>dvSH_MA</key>
	<string>dvSH__MA_.glif</string>
	<key>dvSH_MA.MAR</key>
	<string>dvSH__MA_.MAR_.glif</string>
	<key>dvSH_N.aTrad</key>
	<string>dvSH__N_.aTrad_.glif</string>
	<key>dvSH_NA</key>
	<string>dvSH__NA_.glif</string>
	<key>dvSH_NA.MAR</key>
	<string>dvSH__NA_.MAR_.glif</string>
	<key>dvSH_NA.aTrad</key>
	<string>dvSH__NA_.aTrad_.glif</string>
	<key>dvSH_RA</key>
	<string>dvSH__RA_.glif</string>
	<key>dvSH_SHA</key>
	<string>dvSH__SHA_.glif</string>
	<key>dvSH_SHA.MAR</key>
	<string>dvSH__SHA_.MAR_.glif</string>
	<key>dvSH_TA</key>
	<string>dvSH__TA_.glif</string>
	<key>dvSH_TA.MAR</key>
	<string>dvSH__TA_.MAR_.glif</string>
	<key>dvSH_TTA</key>
	<string>dvSH__TTA_.glif</string>
	<key>dvSH_TTA.MAR</key>
	<string>dvSH__TTA_.MAR_.glif</string>
	<key>dvSH_VA</key>
	<string>dvSH__VA_.glif</string>
	<key>dvSH_VA.MAR</key>
	<string>dvSH__VA_.MAR_.glif</string>
	<key>dvSH_VA.aSimp</key>
	<string>dvSH__VA_.aSimp_.glif</string>
	<key>dvSH_VA.aSimp.MAR</key>
	<string>dvSH__VA_.aSimp_.MAR_.glif</string>
	<key>dvSH_YA</key>
	<string>dvSH__YA_.glif</string>
	<key>dvSH_YA.MAR</key>
	<string>dvSH__YA_.MAR_.glif</string>
	<key>dvSHx</key>
	<string>dvSHx_.glif</string>
	<key>dvSHx.MAR</key>
	<string>dvSHx_.MAR_.glif</string>
	<key>dvSHxA</key>
	<string>dvSHxA_.glif</string>
	<key>dvSHxA.MAR</key>
	<string>dvSHxA_.MAR_.glif</string>
	<key>dvSHx_RA</key>
	<string>dvSHx__RA_.glif</string>
	<key>dvSS_KA</key>
	<string>dvSS__KA_.glif</string>
	<key>dvSS_K_RA</key>
	<string>dvSS__K__RA_.glif</string>
	<key>dvSS_MA</key>
	<string>dvSS__MA_.glif</string>
	<key>dvSS_M_YA</key>
	<string>dvSS__M__YA_.glif</string>
	<key>dvSS_NA</key>
	<string>dvSS__NA_.glif</string>
	<key>dvSS_NNA</key>
	<string>dvSS__NNA_.glif</string>
	<key>dvSS_NN_YA</key>
	<string>dvSS__NN__YA_.glif</string>
	<key>dvSS_PA</key>
	<string>dvSS__PA_.glif</string>
	<key>dvSS_PHA</key>
	<string>dvSS__PHA_.glif</string>
	<key>dvSS_P_RA</key>
	<string>dvSS__P__RA_.glif</string>
	<key>dvSS_R</key>
	<string>dvSS__R_.glif</string>
	<key>dvSS_SSA</key>
	<string>dvSS__SSA_.glif</string>
	<key>dvSS_TTA</key>
	<string>dvSS__TTA_.glif</string>
	<key>dvSS_TTA.aSimp</key>
	<string>dvSS__TTA_.aSimp_.glif</string>
	<key>dvSS_TTHA</key>
	<string>dvSS__TTHA_.glif</string>
	<key>dvSS_TTHA.aSimp</key>
	<string>dvSS__TTHA_.aSimp_.glif</string>
	<key>dvSS_TTH_RA</key>
	<string>dvSS__TTH__RA_.glif</string>
	<key>dvSS_TTH_YA</key>
	<string>dvSS__TTH__YA_.glif</string>
	<key>dvSS_TT_RA</key>
	<string>dvSS__TT__RA_.glif</string>
	<key>dvSS_TT_VA</key>
	<string>dvSS__TT__VA_.glif</string>
	<key>dvSS_TT_YA</key>
	<string>dvSS__TT__YA_.glif</string>
	<key>dvSS_VA</key>
	<string>dvSS__VA_.glif</string>
	<key>dvSS_YA</key>
	<string>dvSS__YA_.glif</string>
	<key>dvSSx_R</key>
	<string>dvSSx__R_.glif</string>
	<key>dvS_BA</key>
	<string>dvS__BA_.glif</string>
	<key>dvS_DA</key>
	<string>dvS__DA_.glif</string>
	<key>dvS_JA</key>
	<string>dvS__JA_.glif</string>
	<key>dvS_KA</key>
	<string>dvS__KA_.glif</string>
	<key>dvS_KHA</key>
	<string>dvS__KHA_.glif</string>
	<key>dvS_K_RA</key>
	<string>dvS__K__RA_.glif</string>
	<key>dvS_K_VA</key>
	<string>dvS__K__VA_.glif</string>
	<key>dvS_LA</key>
	<string>dvS__LA_.glif</string>
	<key>dvS_LA.MAR</key>
	<string>dvS__LA_.MAR_.glif</string>
	<key>dvS_MA</key>
	<string>dvS__MA_.glif</string>
	<key>dvS_M_YA</key>
	<string>dvS__M__YA_.glif</string>
	<key>dvS_N.aTrad</key>
	<string>dvS__N_.aTrad_.glif</string>
	<key>dvS_NA</key>
	<string>dvS__NA_.glif</string>
	<key>dvS_NA.aTrad</key>
	<string>dvS__NA_.aTrad_.glif</string>
	<key>dvS_PA</key>
	<string>dvS__PA_.glif</string>
	<key>dvS_PHA</key>
	<string>dvS__PHA_.glif</string>
	<key>dvS_P_RA</key>
	<string>dvS__P__RA_.glif</string>
	<key>dvS_R</key>
	<string>dvS__R_.glif</string>
	<key>dvS_RA</key>
	<string>dvS__RA_.glif</string>
	<key>dvS_SA</key>
	<string>dvS__SA_.glif</string>
	<key>dvS_TA</key>
	<string>dvS__TA_.glif</string>
	<key>dvS_THA</key>
	<string>dvS__THA_.glif</string>
	<key>dvS_TH_YA</key>
	<string>dvS__TH__YA_.glif</string>
	<key>dvS_TTA</key>
	<string>dvS__TTA_.glif</string>
	<key>dvS_T_R</key>
	<string>dvS__T__R_.glif</string>
	<key>dvS_T_RA</key>
	<string>dvS__T__RA_.glif</string>
	<key>dvS_T_VA</key>
	<string>dvS__T__VA_.glif</string>
	<key>dvS_T_YA</key>
	<string>dvS__T__YA_.glif</string>
	<key>dvS_VA</key>
	<string>dvS__VA_.glif</string>
	<key>dvS_YA</key>
	<string>dvS__YA_.glif</string>
	<key>dvSeven</key>
	<string>dvSeven_.glif</string>
	<key>dvSx</key>
	<string>dvSx_.glif</string>
	<key>dvSxA</key>
	<string>dvSxA_.glif</string>
	<key>dvSx_R</key>
	<string>dvSx__R_.glif</string>
	<key>dvSx_RA</key>
	<string>dvSx__RA_.glif</string>
	<key>dvTA</key>
	<string>dvTA_.glif</string>
	<key>dvTH</key>
	<string>dvTH_.glif</string>
	<key>dvTHA</key>
	<string>dvTHA_.glif</string>
	<key>dvTH_N.aTrad</key>
	<string>dvTH__N_.aTrad_.glif</string>
	<key>dvTH_NA</key>
	<string>dvTH__NA_.glif</string>
	<key>dvTH_NA.aTrad</key>
	<string>dvTH__NA_.aTrad_.glif</string>
	<key>dvTH_R</key>
	<string>dvTH__R_.glif</string>
	<key>dvTH_RA</key>
	<string>dvTH__RA_.glif</string>
	<key>dvTH_VA</key>
	<string>dvTH__VA_.glif</string>
	<key>dvTH_YA</key>
	<string>dvTH__YA_.glif</string>
	<key>dvTHx</key>
	<string>dvTHx_.glif</string>
	<key>dvTHxA</key>
	<string>dvTHxA_.glif</string>
	<key>dvTHx_R</key>
	<string>dvTHx__R_.glif</string>
	<key>dvTHx_RA</key>
	<string>dvTHx__RA_.glif</string>
	<key>dvTT</key>
	<string>dvTT_.glif</string>
	<key>dvTTA</key>
	<string>dvTTA_.glif</string>
	<key>dvTTH</key>
	<string>dvTTH_.glif</string>
	<key>dvTTHA</key>
	<string>dvTTHA_.glif</string>
	<key>dvTTH_NA.aTrad</key>
	<string>dvTTH__NA_.aTrad_.glif</string>
	<key>dvTTH_R</key>
	<string>dvTTH__R_.glif</string>
	<key>dvTTH_RA</key>
	<string>dvTTH__RA_.glif</string>
	<key>dvTTH_TTHA</key>
	<string>dvTTH__TTHA_.glif</string>
	<key>dvTTH_VA</key>
	<string>dvTTH__VA_.glif</string>
	<key>dvTTH_YA</key>
	<string>dvTTH__YA_.glif</string>
	<key>dvTTHx</key>
	<string>dvTTHx_.glif</string>
	<key>dvTTHxA</key>
	<string>dvTTHxA_.glif</string>
	<key>dvTTHxA.a</key>
	<string>dvTTHxA_.a.glif</string>
	<key>dvTTHx_R</key>
	<string>dvTTHx__R_.glif</string>
	<key>dvTTHx_RA</key>
	<string>dvTTHx__RA_.glif</string>
	<key>dvTT_NA.aTrad</key>
	<string>dvTT__NA_.aTrad_.glif</string>
	<key>dvTT_R</key>
	<string>dvTT__R_.glif</string>
	<key>dvTT_RA</key>
	<string>dvTT__RA_.glif</string>
	<key>dvTT_TTA</key>
	<string>dvTT__TTA_.glif</string>
	<key>dvTT_TTHA</key>
	<string>dvTT__TTHA_.glif</string>
	<key>dvTT_VA</key>
	<string>dvTT__VA_.glif</string>
	<key>dvTT_YA</key>
	<string>dvTT__YA_.glif</string>
	<key>dvTTx</key>
	<string>dvTTx_.glif</string>
	<key>dvTTxA</key>
	<string>dvTTxA_.glif</string>
	<key>dvTTxA.a</key>
	<string>dvTTxA_.a.glif</string>
	<key>dvTTx_R</key>
	<string>dvTTx__R_.glif</string>
	<key>dvTTx_RA</key>
	<string>dvTTx__RA_.glif</string>
	<key>dvT_KA</key>
	<string>dvT__KA_.glif</string>
	<key>dvT_KH_NA</key>
	<string>dvT__KH__NA_.glif</string>
	<key>dvT_KH_NA.aTrad</key>
	<string>dvT__KH__NA_.aTrad_.glif</string>
	<key>dvT_KH_RA</key>
	<string>dvT__KH__RA_.glif</string>
	<key>dvT_K_RA</key>
	<string>dvT__K__RA_.glif</string>
	<key>dvT_K_SSA</key>
	<string>dvT__K__SSA_.glif</string>
	<key>dvT_K_SSA.amU</key>
	<string>dvT__K__SSA_.amU_.glif</string>
	<key>dvT_K_VA</key>
	<string>dvT__K__VA_.glif</string>
	<key>dvT_K_YA</key>
	<string>dvT__K__YA_.glif</string>
	<key>dvT_LA</key>
	<string>dvT__LA_.glif</string>
	<key>dvT_LA.MAR</key>
	<string>dvT__LA_.MAR_.glif</string>
	<key>dvT_MA</key>
	<string>dvT__MA_.glif</string>
	<key>dvT_M_YA</key>
	<string>dvT__M__YA_.glif</string>
	<key>dvT_NA</key>
	<string>dvT__NA_.glif</string>
	<key>dvT_NA.aTrad</key>
	<string>dvT__NA_.aTrad_.glif</string>
	<key>dvT_N_YA</key>
	<string>dvT__N__YA_.glif</string>
	<key>dvT_PA</key>
	<string>dvT__PA_.glif</string>
	<key>dvT_PHA</key>
	<string>dvT__PHA_.glif</string>
	<key>dvT_P_LA</key>
	<string>dvT__P__LA_.glif</string>
	<key>dvT_P_LA.MAR</key>
	<string>dvT__P__LA_.MAR_.glif</string>
	<key>dvT_P_RA</key>
	<string>dvT__P__RA_.glif</string>
	<key>dvT_RA</key>
	<string>dvT__RA_.glif</string>
	<key>dvT_R_YA</key>
	<string>dvT__R__YA_.glif</string>
	<key>dvT_SA</key>
	<string>dvT__SA_.glif</string>
	<key>dvT_S_NA</key>
	<string>dvT__S__NA_.glif</string>
	<key>dvT_S_NA.aTrad</key>
	<string>dvT__S__NA_.aTrad_.glif</string>
	<key>dvT_S_VA</key>
	<string>dvT__S__VA_.glif</string>
	<key>dvT_S_YA</key>
	<string>dvT__S__YA_.glif</string>
	<key>dvT_THA</key>
	<string>dvT__THA_.glif</string>
	<key>dvT_T_VA</key>
	<string>dvT__T__VA_.glif</string>
	<key>dvT_T_YA</key>
	<string>dvT__T__YA_.glif</string>
	<key>dvT_VA</key>
	<string>dvT__VA_.glif</string>
	<key>dvT_YA</key>
	<string>dvT__YA_.glif</string>
	<key>dvTxA</key>
	<string>dvTxA_.glif</string>
	<key>dvTx_RA</key>
	<string>dvTx__RA_.glif</string>
	<key>dvU</key>
	<string>dvU_.glif</string>
	<key>dvUE</key>
	<string>dvUE_.glif</string>
	<key>dvUU</key>
	<string>dvUU_.glif</string>
	<key>dvUUE</key>
	<string>dvUUE_.glif</string>
	<key>dvVA</key>
	<string>dvVA_.glif</string>
	<key>dvV_HA</key>
	<string>dvV__HA_.glif</string>
	<key>dvV_HA_mU</key>
	<string>dvV__HA__mU_.glif</string>
	<key>dvV_HA_mUU</key>
	<string>dvV__HA__mUU_.glif</string>
	<key>dvV_LA</key>
	<string>dvV__LA_.glif</string>
	<key>dvV_LA.MAR</key>
	<string>dvV__LA_.MAR_.glif</string>
	<key>dvV_NA</key>
	<string>dvV__NA_.glif</string>
	<key>dvV_NA.aTrad</key>
	<string>dvV__NA_.aTrad_.glif</string>
	<key>dvV_RA</key>
	<string>dvV__RA_.glif</string>
	<key>dvV_VA</key>
	<string>dvV__VA_.glif</string>
	<key>dvVxA</key>
	<string>dvVxA_.glif</string>
	<key>dvVx_RA</key>
	<string>dvVx__RA_.glif</string>
	<key>dvYA</key>
	<string>dvYA_.glif</string>
	<key>dvYAheavy</key>
	<string>dvYAheavy_.glif</string>
	<key>dvY_NA</key>
	<string>dvY__NA_.glif</string>
	<key>dvY_NA.aTrad</key>
	<string>dvY__NA_.aTrad_.glif</string>
	<key>dvY_RA</key>
	<string>dvY__RA_.glif</string>
	<key>dvY_YA</key>
	<string>dvY__YA_.glif</string>
	<key>dvYxA</key>
	<string>dvYxA_.glif</string>
	<key>dvYx_RA</key>
	<string>dvYx__RA_.glif</string>
	<key>dvZHA</key>
	<string>dvZHA_.glif</string>
	<key>dvmAA</key>
	<string>dvmAA_.glif</string>
	<key>dvmAI_Reph_Candrabindu</key>
	<string>dvmAI__Reph__Candrabindu_.glif</string>
	<key>dvmAU</key>
	<string>dvmAU_.glif</string>
	<key>dvmAU_Anusvara</key>
	<string>dvmAU__Anusvara_.glif</string>
	<key>dvmAU_Candrabindu</key>
	<string>dvmAU__Candrabindu_.glif</string>
	<key>dvmAU_Reph</key>
	<string>dvmAU__Reph_.glif</string>
	<key>dvmAU_Reph_Anusvara</key>
	<string>dvmAU__Reph__Anusvara_.glif</string>
	<key>dvmAU_Reph_Candrabindu</key>
	<string>dvmAU__Reph__Candrabindu_.glif</string>
	<key>dvmAW</key>
	<string>dvmAW_.glif</string>
	<key>dvmE_Reph_Candrabindu</key>
	<string>dvmE__Reph__Candrabindu_.glif</string>
	<key>dvmEprishthamatra</key>
	<string>dvmEprishthamatra_.glif</string>
	<key>dvmI.a01</key>
	<string>dvmI_.a01.glif</string>
	<key>dvmI.a32</key>
	<string>dvmI_.a32.glif</string>
	<key>dvmII</key>
	<string>dvmII_.glif</string>
	<key>dvmII.aLong</key>
	<string>dvmII_.aLong_.glif</string>
	<key>dvmII_Anusvara</key>
	<string>dvmII__Anusvara_.glif</string>
	<key>dvmII_Anusvara.aLong</key>
	<string>dvmII__Anusvara_.aLong_.glif</string>
	<key>dvmII_Candrabindu</key>
	<string>dvmII__Candrabindu_.glif</string>
	<key>dvmII_Candrabindu.aLong</key>
	<string>dvmII__Candrabindu_.aLong_.glif</string>
	<key>dvmII_Reph</key>
	<string>dvmII__Reph_.glif</string>
	<key>dvmII_Reph.aLong</key>
	<string>dvmII__Reph_.aLong_.glif</string>
	<key>dvmII_Reph_Anusvara</key>
	<string>dvmII__Reph__Anusvara_.glif</string>
	<key>dvmII_Reph_Anusvara.aLong</key>
	<string>dvmII__Reph__Anusvara_.aLong_.glif</string>
	<key>dvmII_Reph_Candrabindu</key>
	<string>dvmII__Reph__Candrabindu_.glif</string>
	<key>dvmII_Reph_Candrabindu.aLong</key>
	<string>dvmII__Reph__Candrabindu_.aLong_.glif</string>
	<key>dvmO</key>
	<string>dvmO_.glif</string>
	<key>dvmOOE</key>
	<string>dvmOOE_.glif</string>
	<key>dvmO_Anusvara</key>
	<string>dvmO__Anusvara_.glif</string>
	<key>dvmO_Candrabindu</key>
	<string>dvmO__Candrabindu_.glif</string>
	<key>dvmO_Reph</key>
	<string>dvmO__Reph_.glif</string>
	<key>dvmO_Reph_Anusvara</key>
	<string>dvmO__Reph__Anusvara_.glif</string>
	<key>dvmO_Reph_Candrabindu</key>
	<string>dvmO__Reph__Candrabindu_.glif</string>
	<key>dvmOcandra</key>
	<string>dvmOcandra_.glif</string>
	<key>dvmOcandra_Anusvara</key>
	<string>dvmOcandra__Anusvara_.glif</string>
	<key>dvmOshort</key>
	<string>dvmOshort_.glif</string>
	<key>dvmvL</key>
	<string>dvmvL_.glif</string>
	<key>dvmvLL</key>
	<string>dvmvLL_.glif</string>
	<key>dvmvRR</key>
	<string>dvmvRR_.glif</string>
	<key>dvvL</key>
	<string>dvvL_.glif</string>
	<key>dvvLL</key>
	<string>dvvLL_.glif</string>
	<key>dvvR</key>
	<string>dvvR_.glif</string>
	<key>dvvRR</key>
	<string>dvvRR_.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>guillemotright</key>
	<string>guillemotright.glif</string>
	<key>guilsinglright</key>
	<string>guilsinglright.glif</string>
	<key>infinity</key>
	<string>infinity.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>notequal</key>
	<string>notequal.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>plusminus</key>
	<string>plusminus.glif</string>
	<key>rupee</key>
	<string>rupee.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>zerowidthjoiner</key>
	<string>zerowidthjoiner.glif</string>
</dict>
</plist>
